<?xml version="1.0" encoding="UTF-8"?>

<!-- Configures the Camel Context-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="
                  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                  http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <context:property-placeholder location="classpath:twitterCrawler.properties"/>

    <bean id="twitterPreprocessor" class="org.vento.crawler.processor.TwitterPreprocessor" />
    <bean id="trainingDataPreprocessor" class="org.vento.training.processor.TrainingDataPreprocessor" />

    <bean id="gateClassifier" class="org.vento.semantic.sentiment.SentiBatchClassificationImpl">
        <property name="gateHome" value="/Applications/GATE_Developer_7.0" />
        <property name="gateConfigFile"  value="/opt/local/gate/batch-learning.classification.configuration.xml" />
        <property name="corpusName" value="classificationTestCorpus" />
    </bean>
    <bean id="gateClassifierProcessor" class="org.vento.crawler.processor.SentiBatchClassificationProcessor">
        <property name="classifier" ref="gateClassifier"/>
    </bean>

    <bean id="simpleClassifier" class="org.vento.semantic.sentiment.SentiBatchClassificationSimpleImpl">
        <property name="negativeWordFile" value="/opt/local/gate/negative_adj_list.txt" />
        <property name="positiveWordFile" value="/opt/local/gate/positive_adj_list.txt" />
    </bean>
    <bean id="simpleClassifierProcessor" class="org.vento.crawler.processor.SentiBatchClassificationSimpleProcessor">
        <property name="classifier" ref="simpleClassifier"/>
    </bean>

    <bean id="mongoDb" class="com.mongodb.Mongo">
        <constructor-arg index="0" name="host" value="localhost" />
        <constructor-arg index="1" name="port" value="27017" />
    </bean>


    <camelContext xmlns="http://camel.apache.org/schema/spring" autoStartup="false">
        <!--properties>
            <property key="http.proxyHost" value="proxylb.internal.epo.org"/>
            <property key="http.proxyPort" value="80"/>
            <property key="http.proxyAuthUsername" value="lf84914" />
            <property key="http.proxyAuthPassword" value="ribeira7" />
        </properties-->

        <package>org.vento.crawler.route</package>
        <!--<package>org.vento.semantics.route</package>-->

        <endpoint id="sourceFileQuery" uri="file:${input.dir}?fileName=sourceQuery.txt&amp;noop=true&amp;idempotent=false&amp;delay=480000"/>
        <endpoint id="rejectTwitterLocation" uri="file:${reject.dir}?fileName=twitter-reject-$simple{date:now:yyMMddHHmmssSSSS}.xml" />
        <endpoint id="rejectLocation" uri="file:${reject.dir}?fileName=reject-$simple{date:now:yyMMddHHmmssSSSS}.xml" />
        <!--<endpoint id="outputDirectory" uri="file:${output.dir}?fileName=twitter-output-$simple{date:now:yyMMddHHmmssSSSS}.xml" />-->
        <endpoint id="outputDirectory" uri="${output.dir}" />


        <endpoint id="outputQueue" uri="${outputQueue.uri}" />

        <endpoint id="sourceFileReviews" uri="file:${inputReviews.dir}?fileName=sourceFileReviews.txt&amp;noop=true" />
        <endpoint id="outputReviewsDirectory" uri="file:${outputReviews.dir}?fileName=amazonReview-output-$simple{date:now:yyMMddHHmmssSSSS}.xml" />
        <endpoint id="rejectReviewsLocation" uri="file:${reject.dir}?fileName=amazonReview-reject-$simple{date:now:yyMMddHHmmssSSSS}.xml" />

        <!-- Classification route -->
        <endpoint id="mongoQueryClassification" uri="file:src/data/in?fileName=mongoQuery.txt&amp;noop=true&amp;idempotent=false&amp;delay=30000" />
        <endpoint id="mongoFindAllClassification" uri="mongodb:mongoDb?database=vento&amp;collection=reports&amp;operation=findAll" />
        <endpoint id="mongoUpdateClassification" uri="mongodb:mongoDb?database=vento&amp;collection=reports&amp;operation=save" />

        <!-- Training route -->
        <endpoint id="mongoQueryTraining" uri="file:src/data/in?fileName=mongoQueryTraining.txt&amp;noop=true&amp;idempotent=false&amp;delay=600000" />
        <endpoint id="mongoConnector" uri="mongodb:mongoDb?database=vento&amp;collection=reports&amp;operation=findAll" />
        <endpoint id="trainingTemp" uri="file:${training.dir}?fileName=training-$simple{date:now:yyMMddHHmmssSSSS}.xml" />
        <endpoint id="storageTypeUpdate" uri="mongodb:mongoDb?database=vento&amp;collection=reports&amp;operation=save" />
    </camelContext>

</beans>
