<?xml version="1.0" encoding="UTF-8"?>

<!-- Configures the Camel Context-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
                  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                  http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <!--   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
-->

    <context:property-placeholder location="classpath:twitterCrawler.properties"/>

    <camelContext xmlns="http://camel.apache.org/schema/spring" autoStartup="false">
        <!--properties>
            <property key="http.proxyHost" value="proxylb.internal.epo.org"/>
            <property key="http.proxyPort" value="80"/>
            <property key="http.proxyAuthUsername" value="lf84914" />
            <property key="http.proxyAuthPassword" value="ribeira7" />
        </properties-->

        <package>org.vento.crawler.route</package>

        <endpoint id="sourceFileQuery" uri="file:${input.dir}?fileName=sourceQuery.txt&amp;noop=true&amp;idempotent=false&amp;delay=30000"/>
        <endpoint id="outputDirectory" uri="file:${output.dir}?fileName=output-$simple{date:now:yyMMddHHmmssSSSS}.xml" />
        <endpoint id="queryQueue" uri="${queryQueue.uri}" />
        <endpoint id="outputQueue" uri="${outputQueue.uri}" />

        <endpoint id="sourceFileReviews" uri="file:${inputReviews.dir}?fileName=sourceFileReviews.txt&amp;noop=true" />
        <endpoint id="outputReviewsDirectory" uri="file:${outputReviews.dir}?fileName=output-$simple{date:now:yyMMddHHmmssSSSS}.xml" />
        <endpoint id="rejectReviewsLocation" uri="file:${rejectReviews.dir}?fileName=output-$simple{date:now:yyMMddHHmmssSSSS}.xml" />
    </camelContext>

    <bean id="twitterPreprocessor" class="org.vento.crawler.processor.TwitterPreprocessor" />

</beans>
